@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.left-info{
    background-color: #1a3c5a;
    width: 35%;
    padding: 40px 30px;
}

.profile-pic{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 5px solid white;
    margin: 10px;
    margin: 0 auto 30px;
    overflow: hidden;
}

.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-info h2{
    color: white;
    font-size: 2rem;
    margin: 10px;
    letter-spacing: 3px;
    border-bottom: 3px solid #fff;
}

.left-info h3{
    color: white;
    font-size: 1.2rem;
    margin: 10px;
}


.left-info p{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    margin: 10px;
}

.left-info li{
    color: white;
    font-size: 1rem;
    margin: 10px;
    font-weight: 500;
}

.main-content{
    width: 100%;
    padding: 50px;
}

.right-info{
    background-color: #fff;
    width: 100%;
    padding: 40px 30px;
}

.right-info h1{
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0;
    color: #808080;
}

.right-info h1 span{
    font-size: 2.5rem;
    font-weight: 700;
    color: #000000;
}

.job-title{
    font-size: 1.1rem;
    margin-bottom: 40px;
    color: #808080;
}

.right-info h2{
    color: #1a3c5a;
    font-size: 2rem;
    margin: 10px;
    letter-spacing: 3px;
    border-bottom: 3px solid #1a3c5a;
}

.right-info h3{
    color: #1a3c5a;
    font-size: 1rem;
    margin: 10px;
    display: inline-block;
}

.right-info p{
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    margin: 10px;
}

.experience-item{
    margin-bottom: 20px;
    position: relative;
    padding-left: 20px;
    border-left: 3px solid #1a3c5a;
}

.exp-header{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #333;
    margin-left: 20px;
}